.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.maindiv{
  height: 300px;
  width: 50%;
  border: 5px solid black;
  margin: auto;
  margin-top: 200px;
  padding: 45px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.profile{
  border: 5px solid black;
  height: 200px;
  width: 200px;
  
}
.profile > img{
  width: 100%;
  height: 100%;
}
.details{
  margin-top: 25px;
  height: 200px;
}

h1{
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .maindiv{
    height: auto;
    width: 60%;
    border: 5px solid black;
    margin: auto;
    margin-top: 200px;
    padding: 40px 0px 0px 0px;
    display: grid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .profile{
    border: 5px solid black;
    height: 200px;
    width: 200px;
    margin: auto;
  }
  .profile > img{
    width: 100%;
    height: 100%;
  }
  .details{
    height: auto;
    width: auto;
  }
  
  h1{
    font-size: 18px;
    font-weight: 500;
  }
}
